@import "../../assets/styles/variables";
@import "../../assets/styles/common-classes";

.fill-height {
  height: 100%;
}

.input-component-heading {
  margin: 0;
  @extend %field-heading-common;
  margin-bottom: 4px;
}

.input-component-item-wrap {
  width: 100%;
}

.input-component-item {
  @extend %input-common;
  border-radius: 10px !important;
  &:focus {
    border: 1px solid #85b7d9;
  }
}

textarea.input-component-item {
  resize: none;
  min-height: 122px;
  margin-bottom: 15px;
}
