.tabs-custom-section {
  position: relative;
  margin-top: -200px;
  margin-bottom: 100px;
  @media all and (max-width: 575px) {
    margin: -20px -15px 60px;
  }
}

/* ========== TABS =============== */

.tabs {
  padding: 0 60px 70px;
  background: #ffffff;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  @media all and (max-width: 991px) {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
  }
}

.tabs__tab-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
  margin: 0 35px;
  @media all and (max-width: 1199px) {
    margin-left: 0;
    margin-right: 0;
  }
  @media all and (max-width: 991px) {
    padding-top: 10px;
    padding-bottom: 25px;
  }
}

.tabs__tab {
  box-sizing: border-box;
  max-width: 280px;
  list-style: none;
  padding: 10px;
  cursor: pointer;
  font-size: 30px;
  line-height: 1.33;
  font-weight: bold;
  text-align: center;
  @media all and (max-width: 1199px) {
    max-width: none;
    width: 50%;
  }
  @media all and (max-width: 767px) {
    font-size: 17px;
  }
  &--selected {
    color: #3663f5;
  }
}

/* ========== COLLAPSIBLE =============== */

.collapsible {
  padding: 25px 45px;
  background: #f1f9ff;
  border-radius: 15px;
  margin-bottom: 15px;
  @media all and (max-width: 767px) {
    padding: 15px;
  }
}

.collapsible__trigger {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  padding-right: 30px;
  @media all and (max-width: 767px) {
    font-size: 18px;
  }
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 0;
    width: 20px;
    height: 12px;
    background: url("./assets/arrow.svg") no-repeat center;
    background-size: contain;
    transition: transform 0.4s;
    @media all and (max-width: 767px) {
      width: 12px;
    }
  }
  &.is-open {
    &:before {
      transform: rotate(180deg);
    }
  }
}

.collapsible__content-inner {
  margin-top: 35px;
  font-size: 18px;
  line-height: 1.67;
  @media all and (max-width: 767px) {
    font-size: 16px;
  }
}

/* ========== LINKS =============== */

.faq-app {
  margin-left: 5px;
  &:not(:last-child) {
    &:after {
      content: ",";
    }
  }
}

.link-space {
  margin: 0 5px;
}
