.news-items-section {
  background-color: #f5f6f8;
  padding-bottom: 100px;
}

.news-promo-inner {
  min-height: auto !important;
  padding-top: 180px !important;
  padding-bottom: 50px !important;
  @media all and (max-width: 575px) {
    padding-top: 80px !important;
  }
}
