.faq-form-title {
  font-size: 48px;
  text-align: center;
}

.faq-form-subtitle {
  text-align: center;
  font-size: 18px;
  color: #515151;
}

.faq-form-container {
  margin: 0 auto;
}

.faq-form {
  width: 50%;
  max-width: 1072px;
  background: #ffffff;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.09);
  border-radius: 20px;
  margin: 60px auto;
  padding: 30px;
  @media all and (max-width: 575px) {
    width: 100%;
    box-sizing: border-box;
  }

  .faq-form-container-content {
    display: flex;

    .faq-form-content {
      width: 50%;
      padding: 15px;
    }

    .faq-form-input {
      margin-bottom: 15px;
    }
  }
}

.faq-send-button {
  background: #3663f5;
  border-radius: 25px;
  margin: 0 auto;
  padding: 8px 40px;
  color: white;
  margin-top: 20px;
  display: block;
  border: none;
}

@media screen and (max-width: 991px) {
  .faq-form-container-content {
    flex-direction: column;

    .faq-form-content {
      width: 100% !important;
      padding: 0 !important;
      box-sizing: border-box;
    }
  }
}
