.promo-page {
  background-color: #f5f6f8;
  background-repeat: no-repeat;

  &.bg-pattern-1 {
    background-image: url("./assets/promo-bg-left.svg"),
      url("./assets/promo-bg-right.svg");
    background-position: left calc(50% + 60px), right bottom;
    @media all and (max-width: 1199px) {
      background-size: 15%, 35%;
    }
    @media all and (max-width: 991px) {
      background-image: none;
    }
  }

  &.bg-pattern-2 {
    background-image: url("./assets/pattern-1.svg"),
      url("./assets/pattern-2.svg");
    background-position: left 100px, right 60px;
    @media all and (max-width: 991px) {
      background-image: none;
    }
  }
}

.promo-page-inner {
  box-sizing: border-box;
  min-height: calc(100vh - 76px);
  padding: 0 0 100px 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media all and (max-width: 1366px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media all and (max-width: 1199px) {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: auto;
  }
  @media all and (max-width: 991px) {
    padding-top: 40px;
  }
  @media all and (max-width: 575px) {
    padding-top: 80px;
  }
}

.promo-page-title {
  margin-bottom: 35px;
  font-size: 64px;
  font-weight: bold;
  color: #171717;
  @media all and (max-width: 1199px) {
    margin-bottom: 30px;
    font-size: 50px;
  }
  @media all and (max-width: 991px) {
    font-size: 30px;
  }
}

.promo-page-description {
  max-width: 675px;
  margin-bottom: 55px;
  text-align: center;
  @media all and (max-width: 1366px) {
    margin-bottom: 50px;
  }
  @media all and (max-width: 1199px) {
    margin-bottom: 40px;
  }
  @media all and (max-width: 991px) {
    font-size: 14px;
  }
}
