.channels-social-block {
  background-color: #3663f5;
  padding: 30px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media all and (max-width: 767px) {
    flex-direction: column;
  }

  .social-title {
    color: white;
    font-size: 30px;
    margin-right: 30px;
    @media all and (max-width: 767px) {
      margin-right: 0;
      text-align: center;
    }
  }
}
