.menu-md {
  position: fixed;
  background: #2375ef;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  display: flex;
  z-index: 10;
  clip-path: circle(0% at 90% -10%);
  transition: all 0.4s ease-out;
  align-items: flex-end;
  pointer-events: none;
  a {
    padding: 12px 20px;
    display: block;
    text-decoration: none;
    color: #fff;
  }
  img {
    display: block;
    padding: 20px 20px;
    cursor: pointer;
  }
  span {
    cursor: pointer;
  }
  .closer {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #2375ef;
    bottom: 0;
    left: 50%;
  }
}

.open {
  clip-path: circle(85% at 90% -10%);
  pointer-events: all;
}

.menu-md-container {
  position: relative;
}

.menu-md-close {
  position: absolute;
  top: 16px;
  right: 17px;
}

.menu-md-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 75px;
}

.menu-md-nav-item {
  display: inline-block;
  margin-bottom: 25px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  &:last-child {
    margin-bottom: 0;
  }
}
