.features {
  padding: 140px 0;
  overflow: hidden;
  @media all and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media all and (max-width: 767px) {
    padding-bottom: 35px;
  }
  @media all and (max-width: 575px) {
    padding-top: 140px;
  }
}

.features-title {
  text-align: left !important;
}

.features-items {
  display: flex;
  flex-wrap: wrap;
  margin: -25px -15px;
  overflow: hidden;
  @media all and (max-width: 767px) {
    margin-top: -15px;
    margin-bottom: -15px;
  }
}

.features-items-item {
  flex-wrap: wrap;
  box-sizing: border-box;
  width: calc(100% / 12 * 4 - 30px);
  margin: 25px 15px;
  padding: 20px;
  background: #fcfcfc;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.5;
  @media all and (max-width: 1199px) {
    width: calc(100% / 12 * 6 - 30px);
  }
  @media all and (max-width: 991px) {
    font-size: 14px;
    line-height: 1.36;
  }
  @media all and (max-width: 767px) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: calc(100% - 30px);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.features-item-icon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  @media all and (max-width: 991px) {
    width: 50px;
    height: 50px;
  }
  @media all and (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.features-item-text {
  flex-basis: calc(100% - 90px);
  @media all and (max-width: 991px) {
    flex-basis: calc(100% - 70px);
  }
}
