.demo {
  position: relative;
  padding: 115px 0;
  background: url("./assets/bg.svg") no-repeat left
    calc(100% - 90px);
  @media all and (max-width: 1500px) {
    background-size: 25%;
  }
  @media all and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
    background: none;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: rotate(180deg);
    background: url("./assets/bg.svg") no-repeat left -42px;
    @media all and (max-width: 1500px) {
      background-size: 25%;
    }
    @media all and (max-width: 1199px) {
      background-position-y: 19px;
      background: none;
    }
  }
}
