.social-blocks {
  display: flex;
  align-items: center;
  &.vertical {
    flex-direction: column;
    align-items: normal;
    @media screen and (max-width: 575px) {
      flex-direction: row;
      justify-content: center;
      margin: 40px auto 0 auto;
    }
  }
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  transition: opacity 0.2s ease-out;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    opacity: 0.7;
  }
  &.round {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 25px;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  &.vertical {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 0;
    @media screen and (max-width: 575px) {
      margin-right: 20px;
    }
  }
}
