.advantages {
  padding: 80px 0;
  background-color: #f1f9ff;
}

.advantages__items {
  margin-top: 80px;
  padding: 0 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 1350px) {
    padding: 0 50px;
  }
  @media screen and (max-width: 1200px) {
    padding: 0;
  }
  @media screen and (max-width: 770px) {
    flex-direction: column;
  }
}

.advantages__items-item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-right: 20px;
  @media all and (max-width: 1199px) {
    width: 50% !important;
    margin-bottom: 40px;
  }
  @media screen and (max-width: 767px) {
    width: 100% !important;
  }
  &:before {
    content: "";
    display: inline-block;
    background: url("./assets/icon-before.svg") no-repeat center;
    width: 23px;
    min-width: 23px;
    height: 23px;
    margin-right: 20px;
  }
}
