.c-btn {
  padding: 14px 32px;
  margin: 0;
  outline: none;
  border: none;
  border-radius: 25px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  @media all and (max-width: 767px) {
    width: 216px;
    padding: 10px 0;
    font-size: 17px;
  }
  &.xs-small {
    padding: 9px 32px;
    @media all and (max-width: 991px) {
      width: auto;
      padding: 4px 13px;
      font-size: 14px;
    }
  }
  &-blue {
    border: 1px solid #3663f5;
    background-color: #3663f5;
    color: #ffffff;
    transition: all 0.2s ease-out;
    &:hover {
      color: #3663f5;
      background-color: #ffffff;
    }
  }
  &-blue-light {
    border: 1px solid #e1e8fe;
    background-color: #e1e8fe;
    color: #3663f5;
    transition: all 0.2s ease-out;
    &:hover {
      border-color: #3663f5;
      color: #3663f5;
      background-color: #ffffff;
    }
  }
  &-green {
    border: 1px solid #11c977;
    background-color: #11c977;
    color: #ffffff;
    transition: all 0.2s ease-out;
    &:hover {
      color: #11c977;
      background-color: #ffffff;
    }
  }
}

.c-btn.c-btn-outline-blue {
  border: 1px solid #3663f5;
  background-color: #ffffff;
  color: #3663f5;
  transition: all 0.2s ease-out;
  &:hover {
    color: #ffffff;
    background-color: #3663f5;
  }
}
