.promo-video {
  position: relative;
  background-color: #f5f6f8;
}

$video-size: (
  max: 1080,
  xxl: 800,
  xl: 600,
);

.promo-video__text-wrap {
  display: flex;
  align-items: center;
  min-height: #{map-get($video-size, max) / 1.7777}px;
  @media all and (max-width: 1649px) {
    min-height: #{map-get($video-size, xxl) / 1.7777}px;
  }
  @media all and (max-width: 1399px) {
    min-height: #{map-get($video-size, xl) / 1.7777}px;
  }
  @media all and (max-width: 1199px) {
    min-height: auto;
  }
}

.promo-video__text {
  //max-width: 541px;
  width: calc(100% - #{map-get($video-size, max)}px);
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  @media all and (max-width: 1649px) {
    width: calc(100% - #{map-get($video-size, xxl)}px);
  }
  @media all and (max-width: 1399px) {
    width: calc(100% - #{map-get($video-size, xl)}px);
  }
  @media all and (max-width: 1199px) {
    width: 100%;
    padding: 50px 30px;
    text-align: center;
  }
  @media all and (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.promo-video__text__title {
  text-align: left !important;
  @media all and (min-width: 1200px) {
    margin-bottom: 20px !important;
  }
  @media all and (max-width: 1199px) {
    text-align: center !important;
  }
}

.promo-video__text__description {
  font-size: 16px !important;
  @media all and (min-width: 1200px) {
    line-height: 1.4;
  }
}

.promo-video__video-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: #{map-get($video-size, max)}px;
  height: #{map-get($video-size, max) / 1.7777}px;
  @media all and (max-width: 1649px) {
    width: #{map-get($video-size, xxl)}px;
    height: #{map-get($video-size, xxl) / 1.7777}px;
  }
  @media all and (max-width: 1399px) {
    width: #{map-get($video-size, xl)}px;
    height: #{map-get($video-size, xl) / 1.7777}px;
  }
  @media all and (max-width: 1199px) {
    display: none;
  }
}
