.description-block {
  padding-top: 310px;
  padding-bottom: 250px;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/description-bg-left.svg"),
    url("../../assets/images/description-bg.svg");
  background-size: auto, cover;
  background-position: left bottom, center 55px;
}

.description-block-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media all and (max-width: 767px) {
    flex-direction: column;
  }
}

.description-block-row__text {
  max-width: 630px;
  padding-right: 50px;
  @media all and (max-width: 767px) {
    padding-right: 0;
    order: 2;
    margin-top: 65px;
  }
}

.description-block-row__img-wrap {
  max-width: 475px;
}

@media screen and (max-width: 540px) {
  .description-block-row {
    .description-block-row__img-wrap {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }
  }
}
