.news-list-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news-card {
  width: 30%;
  max-width: 470px;
  background: #ffffff;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  border: 5px solid white;
  overflow: hidden;
  margin-bottom: 40px;
  color: inherit;
  text-decoration: none;
  transition: 0.5s;
  @media all and (max-width: 991px) {
    width: 46%;
  }
  @media all and (max-width: 767px) {
    max-width: none;
    width: 100%;
  }
  &:hover {
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    .news-card-title {
      color: #3663f5;
    }
  }
}

.news-card-container {
  padding: 35px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 1399px) {
    padding: 20px;
  }
}

.news-card-img-wrap {
  position: relative;
  height: 285px;
}

.news-card-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-card-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  transition: 0.5s;
  @media screen and (max-width: 1399px) {
    font-size: 21px;
  }
}

.news-card-description {
  color: #515151;
  font-weight: 500;
  font-size: 18px;
  @media screen and (max-width: 1399px) {
    font-size: 14px;
    line-height: 25px;
  }
}

.news-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .news-card-date,
  .news-card-time {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    @media screen and (max-width: 1399px) {
      font-size: 14px;
    }
  }
}
