$bg-gen: "../../assets/images/description-bg.svg";

.faq-description-block {
  padding-top: 310px;
  padding-bottom: 250px;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/description-bg-left.svg"),
    url($bg-gen);
  background-size: auto, cover;
  background-position: left bottom, center 55px;
  @media all and (max-width: 767px) {
    background-image: url($bg-gen);
    padding-top: 20px;
    padding-bottom: 20px;
    background-position: center -75px;
  }
}
