.how-use {
  padding-top: 100px;
  background-color: #1c1c1c;
  @media all and (max-width: 1199px) {
    padding-top: 60px;
  }
}

.how-use-title {
  color: #f9f9f9;
}

.how-use-subtitle {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
  color: #3663f5;
  text-align: center;
  @media all and (max-width: 767px) {
    margin-bottom: 25px;
    font-size: 21px;
  }
}

.how-use-description {
  max-width: 575px !important;
  color: #e1e1e1 !important;
}

.how-use-tel-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-use-tel-img {
  position: relative;
  @media all and (max-width: 991px) {
    width: 300px;
  }
  @media all and (max-width: 767px) {
    width: 142px;
  }
}

.how-use-tel-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media all and (max-width: 767px) {
    display: none;
  }
}

.how-use-tel-text-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 65px;
  &-1,
  &-3 {
    max-width: 935px;
  }
  &-2 {
    max-width: 1465px;
  }
  @media all and (max-width: 1199px) {
    max-width: none;
  }
}

.how-use-tel-text-item {
  position: relative;
  width: 190px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    //left: 85px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  &:before {
    width: 1px;
    height: 20px;
  }
  &:after {
    width: 500px;
    height: 1px;
    @media all and (max-width: 991px) {
      width: 200px;
    }
  }
  &:nth-child(2) {
    &:after {
      left: unset;
      right: 50%;
    }
  }
}

/* ================= TEXT XS ============================== */

.how-use-tel-text-xs {
  display: none;
}

@media all and (max-width: 767px) {
  .how-use-tel-text-xs {
    display: block;
    width: 100%;
  }

  .how-use-tel-text-xs-row {
    display: flex;
    justify-content: space-between;
    max-width: 330px;
    margin: 0 auto;

    &-1 {
      margin-bottom: 20px;
      > * {
        &:before {
          bottom: -21px;
          height: 20px;
        }
      }
    }

    &-2 {
      margin-bottom: 45px;
      > * {
        &:before {
          bottom: -161px;
          height: 160px;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: -161px;
          left: 41px;
          width: 70px;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.2);
        }
        &:last-child {
          &:after {
            left: unset;
            right: 39px;
          }
        }
      }
    }
  }

  .how-use-tel-text-xs-item {
    position: relative;
    box-sizing: border-box;
    min-width: 82px;
    height: 20px;
    padding: 0 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 500;
    color: #ffffff;
    @media all and (max-width: 359px) {
      padding-left: 10px;
      padding-right: 10px;
    }
    &:before {
      content: "";
      position: absolute;
      left: 41px;
      right: 0;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.2);
    }
    &.large-item:before {
      left: calc(50% - 2px);
    }
  }
}
