.promo-container-update {
  max-width: 900px;
  padding-top: 85px;
  margin-left: auto;
  margin-right: auto;
  @media all and (max-width: 575px) {
    padding-bottom: 10px;
  }
}

.promo-update {
  background: #f5f6f8;
}

.promo-image-update {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.promo-update-title {
  width: 100%;
  font-size: 45px;
  line-height: 56px;
}

.promo-update-date-info {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
}

.not-list-style-type {
  list-style-type: none;
}

.promo-update-date {
  color: #8c8c8c;
  font-size: 18px;
}

.promo-update-item {
  margin-left: 30px;
  color: #3663f5;
}

.promo-update-content {
  width: 100%;
  display: flex;
  @media all and (max-width: 575px) {
    display: block;
  }
}

.promo-update-content-inner {
  flex-grow: 1;
  margin-right: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.66;
  color: #515151;
  > *:first-child {
    margin-top: 0;
  }
  @media all and (max-width: 575px) {
    margin-right: 0;
  }
}
