.card-text-img {
  margin-left: 150px;
  margin-right: 80px;
  @media all and (max-width: 1399px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.card-text-img-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 110px;
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
  @media all and (max-width: 991px) {
    flex-direction: column-reverse !important;
  }
}

.card-text-img-item__img-wrap {
  max-width: 462px;
}

.card-text-img-item__text {
  box-sizing: border-box;
  width: calc(100% - 462px);
  max-width: 570px;
  padding-left: 20px;
  @media all and (max-width: 991px) {
    width: 100%;
    max-width: none;
    padding-left: 0;
    margin-bottom: 50px;
  }
}

.card-text-img-item__text__title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
  color: #3663f5;
}
