.about {
  padding: 175px 0 75px;
  background-color: #fafafa;
  @media all and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 0;
  }
  @media all and (max-width: 575px) {
    padding-bottom: 60px;
  }
}

.about-inner {
  @media all and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }
}

.about-left {
  flex-basis: 43%;
}

.about-right {
  margin-top: -75px;
  flex-basis: 50%;
  @media all and (max-width: 1199px) {
    margin-top: 0;
    overflow: hidden;
  }
  @media all and (max-width: 991px) {
    width: 70%;
  }
  @media all and (max-width: 575px) {
    width: auto;
    margin: 0 -95px -150px -55px;
  }
}

.about-right-img {
  @media all and (max-width: 575px) {
    margin-bottom: -150px;
  }
}

.about-title {
  text-align: left !important;
  color: #2375ef;
}

.about-description {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.67;
  color: #434343;
  p:not(:last-child) {
    margin-bottom: 40px;
    @media all and (max-width: 991px) {
      margin-bottom: 25px;
    }
  }
  @media all and (max-width: 991px) {
    font-size: 14px;
    line-height: 1.5;
  }
}
