.partnership-form {
  box-sizing: border-box;
  max-width: 1250px;
  margin: 0 auto;
  padding: 60px 11%;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(108, 108, 108, 0.1);
  border-radius: 12px;
  @media all and (max-width: 767px) {
    padding: 50px 20px;
  }
}

.partnership-form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media all and (max-width: 575px) {
    flex-direction: column;
  }
  &.col-2 > * {
    flex-basis: 41%;
    @media all and (max-width: 767px) {
      flex-basis: 45%;
    }
  }
}

.partnership-details {
  margin-bottom: 60px;
  font-size: 17px;
  line-height: 1.6;
  @media all and (max-width: 991px) {
    font-size: 14px;
  }
  @media all and (max-width: 359px) {
    font-size: 13px;
  }
}

.partnership-details-link {
  display: inline-block;
  margin-left: 10px;
  color: #3663f5;
  text-decoration: underline;
  transition: opacity 0.2s ease-out;
  &:hover {
    opacity: 0.8;
  }
}
