.cases {
  padding: 140px 0;
  background-color: #fafafa;
  overflow: hidden;
  @media all and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.cases-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -30px;
  @media all and (max-width: 767px) {
    margin-top: -10px;
    margin-bottom: -10px;
  }
}

.cases-items-item {
  box-sizing: border-box;
  width: calc(100% / 12 * 4 - 60px);
  margin: 30px;
  padding: 40px;
  padding-top: 55px;
  box-shadow: 0 10px 20px rgba(108, 108, 108, 0.1);
  border-radius: 12px;
  background-color: #ffffff;
  @media all and (max-width: 1199px) {
    width: calc(100% / 12 * 6 - 60px);
  }
  @media all and (max-width: 991px) {
    padding: 25px 20px;
  }
  @media all and (max-width: 767px) {
    width: calc(100% - 60px);
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.cases-item-img {
  display: flex;
  min-height: 142px;
  margin-bottom: 50px;
  text-align: center;
  @media all and (max-width: 991px) {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  @media all and (max-width: 767px) {
    display: none;
  }
}

.cases-item-title {
  margin-bottom: 30px;
  font-size: 27px;
  font-weight: bold;
  @media all and (max-width: 991px) {
    margin-bottom: 15px;
    font-size: 21px;
  }
  &.red {
    color: #ff523b;
  }
  &.blue {
    color: #2375ef;
  }
  &.yellow {
    color: #fac701;
  }
  &.grey {
    color: #525252;
  }
  &.orange {
    color: #ff9500;
  }
  &.green {
    color: #3ed170;
  }
}

.cases-item-description {
  font-size: 17px;
  line-height: 1.6;
  color: #353535;
  @media all and (max-width: 991px) {
    font-size: 14px;
    line-height: 1.36;
  }
}
