.features-id {
  padding: 200px 0;
}

.features-id__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-id__items-item {
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-top: 85px;
  @media all and (max-width: 991px) {
    width: 45%;
  }
  @media all and (max-width: 767px) {
    width: 100%;
  }
}

.features-id__items-item__count {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  font-size: 144px;
  font-weight: bold;
  color: #f1f9ff;
}

.features-id__items-item__title {
  padding-left: 25px;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.12;
}

.features-id__items-item__img-wrap {
  display: flex;
  align-items: center;
  margin: 40px 0;
  min-height: 210px;
  @media all and (max-width: 767px) {
    min-height: auto;
  }
}

// waiting old

.features-id__items-item__waiting-old {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: 20px;
}

.features-id__items-item__waiting-old__label {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  color: #757575;
}

.features-id__items-item__waiting-old__line {
  flex-grow: 1;
  height: 7px;
  margin-left: 25px;
  margin-right: 15px;
  background-color: #e2e2e2;
  border-radius: 4px;
}

.features-id__items-item__waiting-old__time {
  font-size: 16px;
  line-height: 1.69;
  font-weight: 500;
  color: #747474;
}

// waiting new

.features-id__items-item__waiting-new {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: 20px;
}

.features-id__items-item__waiting-new__label {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  color: #3e3e3e;
}

.features-id__items-item__waiting-new__line {
  min-width: 7px;
  height: 7px;
  margin-left: 12px;
  margin-right: 15px;
  background-color: #3663f5;
  border-radius: 4px;
}

.features-id__items-item__waiting-new__time {
  font-size: 16px;
  line-height: 1.69;
  font-weight: 500;
  color: #3663f5;
}
