@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

.blockquote-block {
  padding-top: 60px;
}

.blockquote-wrap {
  max-width: 880px;
  margin: 0 auto;
}

.blockquote {
  position: relative;
  margin: 0;
  padding: 30px 105px 15px;
  text-align: center;
  &:before,
  &:after {
    content: "“";
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-size: 144px;
    color: #e8e8e8;
  }
  &:before {
    top: -72px;
    left: 0;
  }
  &:after {
    bottom: -72px;
    right: 0;
    transform: rotate(180deg);
  }
}
@media screen and (max-width: 570px) {
  .blockquote {
    padding: 10px;

    &:before,
    &:after {
      content: "“";
      position: absolute;
      font-family: "Open Sans", sans-serif;
      font-size: 70px;
      color: #e8e8e8;
    }
  }
}
