.input-field {
  margin-bottom: 60px;
  @media all and (max-width: 991px) {
    margin-bottom: 40px;
  }
}

.form-input {
  background-color: transparent;
  border: none;
  border-radius: 0;
  width: 100%;
  border-bottom: 1px solid #7b7b7b;
  padding-bottom: 10px;
  font-size: 17px;
  color: #7b7b7b;
  @media all and (max-width: 991px) {
    font-size: 14px;
  }
  &:focus {
    outline: none;
    border-color: #3663f5;
    &::placeholder {
      color: lighten(#7b7b7b, 10%);
    }
  }
}
