.promo-faq {
  background-color: #f5f6f8;
  background-repeat: no-repeat;
  background-image: none;
  background-position: 230px center, calc(100% - 115px) center;
  position: relative;
}

.promo-faq-inner {
  box-sizing: border-box;
  min-height: calc(100vh - 76px);
  padding-bottom: 250px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media all and (max-width: 1199px) {
    min-height: auto;
    padding-top: 80px;
    padding-bottom: 330px;
  }
  @media all and (max-width: 575px) {
    padding-bottom: 70px;
  }
}

.promo-faq-title {
  margin-bottom: 35px;
  font-size: 64px;
  font-weight: bold;
  color: #171717;
  @media all and (max-width: 1199px) {
    margin-bottom: 30px;
    font-size: 50px;
  }
  @media all and (max-width: 991px) {
    font-size: 30px;
  }
  @media all and (max-width: 575px) {
    text-align: center;
  }
}

.promo-faq-description {
  max-width: 675px;
  margin-bottom: 55px;
  text-align: center;
  @media all and (max-width: 1366px) {
    margin-bottom: 50px;
  }
  @media all and (max-width: 1199px) {
    margin-bottom: 40px;
  }
  @media all and (max-width: 991px) {
    font-size: 14px;
  }
}
