.promo-inner {
  box-sizing: border-box;
  min-height: calc(100vh - 76px);
  padding: 100px 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./assets/promo.svg") 50% 100% no-repeat;
  background-size: contain;

  @media all and (max-width: 1366px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media all and (max-width: 1199px) {
    background-image: url("./assets/xs-bottom.svg");
    background-position: center bottom;
    padding-bottom: 450px;
  }
  @media all and (max-width: 991px) {
    min-height: calc(100vh - 54px);
    padding-top: 40px;
    padding-bottom: 300px;
  }
  @media all and (max-width: 767px) {
    min-height: calc(100vh - 54px);
    padding-bottom: 160px;
  }
  @media all and (max-width: 575px) {
    padding-top: 80px;
  }

  .cloud-left,
  .cloud-right {
    width: 300px;
    height: 300px;
    position: absolute;
    animation: linear infinite alternate;
    animation-duration: 20s;
    background-position: center;
    background-repeat: no-repeat;
    @media all and (max-width: 1359px) {
      display: none;
    }
  }

  .cloud-left {
    bottom: 0;
    left: 0;
    animation-name: left;
    background-image: url("./assets/cloud-left.svg");
  }

  .cloud-right {
    top: 0;
    right: 0;
    animation-name: right;
    background-image: url("./assets/cloud-right.svg");
  }
}

@keyframes right {
  0% {
    right: 0;
  }
  50% {
    right: 10%;
  }
  100% {
    right: 0;
  }
}

@keyframes left {
  0% {
    left: 0;
  }
  50% {
    left: 10%;
  }
  100% {
    left: 0;
  }
}

.promo-title {
  margin-bottom: 50px;
  font-size: 64px;
  font-weight: bold;
  color: #171717;
  @media all and (max-width: 1199px) {
    margin-bottom: 30px;
    font-size: 50px;
  }
  @media all and (max-width: 991px) {
    font-size: 30px;
  }
}

.promo-description {
  max-width: 620px;
  margin-bottom: 70px;
  font-size: 18px;
  line-height: 1.5;
  color: #444444;
  text-align: center;
  @media all and (max-width: 1366px) {
    margin-bottom: 50px;
  }
  @media all and (max-width: 1199px) {
    margin-bottom: 40px;
  }
  @media all and (max-width: 991px) {
    font-size: 14px;
  }
}

.promo-app-wrap {
  margin-top: 160px;
  @media all and (max-width: 1366px) {
    margin-top: 55px;
  }
  @media all and (max-width: 991px) {
    margin-top: 45px;
  }
}

.promo-app-item {
  display: inline-block;
  &:first-child {
    margin-right: 40px;
    @media all and (max-width: 991px) {
      margin-right: 30px;
    }
  }
  @media all and (max-width: 991px) {
    width: 95px;
    height: 28px;
  }

  img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
}
