.how-works {
  position: relative;
  padding-top: 120px;
  padding-bottom: 280px;
  @media all and (max-width: 575px) {
    padding-bottom: 80px;
  }
  &:before {
    content: "";
    position: absolute;
    top: calc(100% - 315px);
    left: 50%;
    z-index: -1;
    width: 5000px;
    height: 5000px;
    background-color: #f1f9ff;
    transform: translateX(-50%) rotate(10deg);
    @media all and (max-width: 575px) {
      content: none;
    }
  }
}
