@import "./_variables.scss";

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.01em;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.start {
  justify-content: flex-start;
}

.align-center {
  align-items: center;
}

.bold {
  font-weight: bold;
}

.h-100 {
  height: 100%;
}

.error-text {
  color: $error-red;
}

.column-item {
  width: 50%;
}

.list-columns {
  display: flex;

  @media screen and (max-width: 1180px) {
    & {
      display: block;

      .column-item {
        width: 100%;

        &:nth-child(n + 2) {
          margin-top: 5px;
        }
      }
    }
  }
}

.fix-img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  overflow: hidden;
}

.c-container {
  box-sizing: border-box;
  max-width: 1570px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media all and (max-width: 1649px) {
    max-width: 1320px;
  }
  @media all and (max-width: 1399px) {
    max-width: 1140px;
  }
  @media all and (max-width: 1199px) {
    max-width: 960px;
  }
  @media all and (max-width: 991px) {
    max-width: 720px;
  }
  @media all and (max-width: 767px) {
    max-width: 540px;
  }
}

.c-title {
  margin-bottom: 65px;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  @media all and (max-width: 991px) {
    margin-bottom: 30px;
    font-size: 30px;
  }
}

.c-title-h2 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.c-description-gen {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.67;
  color: #3e3e3e;
}

.blue {
  color: #3663f5;
}

.green {
  color: #3ed170;
}

ol.default {
  margin: 0;
  padding: 0;
  counter-reset: list;
  li {
    list-style: none;
    &:before {
      content: counter(list) ") ";
      counter-increment: list;
    }
  }
}

ul.default-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

button.default-style {
  border: none;
  border-radius: 0;
  background: transparent;
  padding: 0;
}

.c-description {
  max-width: 700px;
  margin: 0 auto 65px;
  font-size: 17px;
  line-height: 1.6;
  text-align: center;
  color: #444444;
  @media all and (max-width: 991px) {
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    line-height: 1.5;
  }
}

.text-center {
  text-align: center;
}

.xs-span {
  @media all and (max-width: 575px) {
    display: inline;
    margin-right: 4px;
  }
}

// nprogress

#nprogress .bar {
  @media all and (max-width: 991px) {
    background-color: $main-green;
  }
}

#nprogress .peg {
  box-shadow: 0 0 10px $main-green, 0 0 5px $main-green;
}

#nprogress .spinner-icon {
  border-top-color: $main-green;
  border-left-color: $main-green;
}
