.header {
  padding: 18px 0;
  background-color: white;
  @media all and (max-width: 991px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.c-navbar {
  @media all and (max-width: 991px) {
    justify-content: space-between;
  }
}

.c-navbar-logo {
  margin-right: 70px;
  @media all and (max-width: 1199px) {
    margin-right: 30px;
  }
  @media all and (max-width: 991px) {
    width: 105px;
    height: 20px;
    max-width: 134px;
    margin-right: 0;
  }
}

.c-navbar-items {
  @media all and (max-width: 991px) {
    display: none !important;
  }
}

.c-navbar-item {
  padding: 0;
  margin-right: 30px;
  text-decoration: inherit;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.2s ease-out;
  @media all and (max-width: 1199px) {
    margin-right: 15px;
  }
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: grey;
  }
}

.c-navbar-right {
  margin-left: auto;
  @media all and (max-width: 991px) {
    margin-left: auto;
    margin-right: 20px;
  }
}

.navbar-toggler {
  display: none;
  @media all and (max-width: 991px) {
    display: block;
  }
}
