/* ========================= FOOTER TOP ========================== */

.footer-top {
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 80px;
  @media all and (max-width: 991px) {
    display: block;
    padding-bottom: 30px;
  }
}

.copyright-footer {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 16px;
  color: #535353;
  @media all and (max-width: 991px) {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.footer-navbar {
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-between;
  @media all and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer-navbar__items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: 100px;
  @media all and (max-width: 1199px) {
    margin-right: 0;
  }
  @media all and (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  @media all and (max-width: 575px) {
    justify-content: center;
  }
}

.c-footer-navbar-item {
  padding: 0;
  margin-right: 30px;
  margin-bottom: 10px;
  text-decoration: inherit;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  transition: all 0.2s ease-out;
  @media all and (max-width: 1199px) {
    margin-right: 15px;
  }
  &:hover {
    color: grey;
  }
  &:last-child {
    margin-right: 0;
  }
}

.c-navbar-logo {
  @media all and (max-width: 991px) {
    text-align: center;
  }
}

.footer-top-item {
  box-sizing: border-box;
  padding-right: 15px;
  @media all and (max-width: 991px) {
    padding-right: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}

.footer-top-link-wrap {
  margin-bottom: 15px;
  font-size: 16px;
  color: #585858;
  transition: all 0.2s ease-out;
  &:hover {
    color: grey;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.footer-top-link {
  text-decoration: inherit;
  color: inherit;
}

.footer-top-socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 54%;
  @media all and (max-width: 991px) {
    flex-basis: auto;
  }
}

.footer-top-socials-item {
  display: inline-block;
  margin-right: 30px;
  @media all and (max-width: 991px) {
    width: 60px;
  }
  &:last-child {
    margin-right: 0;
  }
}

.footer-top-socials-item-img {
  transition: opacity 0.2s ease-out;
  &:hover {
    opacity: 0.8;
  }
}

.footer-top-apps {
  display: flex;
  flex-basis: 20%;
  @media all and (max-width: 991px) {
    justify-content: center;
    margin-bottom: 30px;
  }
}

.footer-top-apps-item {
  &:first-child {
    margin-right: 10px;
    @media all and (max-width: 991px) {
      max-width: 92px;
    }
    @media all and (max-width: 767px) {
      margin-right: 30px;
    }
  }
  &:last-child {
    @media all and (max-width: 991px) {
      max-width: 95px;
    }
  }
}

/* ========================= FOOTER BOTTOM ========================== */

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;
  border-top: 1px solid #dedede;
  @media all and (max-width: 767px) {
    display: none;
  }
}

.footer-bottom-content {
  background-color: #f5f6f8;
  padding: 30px 0;
}

.footer-links {
  display: flex;
  @media all and (max-width: 575px) {
    flex-direction: column;
    text-align: center;
  }
}

.footer-links-item:not(:last-child) {
  margin-right: 20px;
  @media all and (max-width: 575px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.footer-links-item-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #535353;
  transition: opacity 0.2s ease-out;
  &:hover {
    opacity: 0.7;
  }
}

.footer-bottom-content-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media all and (max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.footer-bottom-copy {
  font-size: 16px;
  color: #585858;
  @media all and (max-width: 991px) {
    font-size: 14px;
  }
}

.footer-bottom-socials-wrap {
  margin-right: 55px;
  @media all and (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
